<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{title: "Middleware | Login"}) %>
<body>
    <%- include('./partials/header')%>
    <main class="container">
        <h1>Login</h1>
        <hr>
        <section class="row">
            <article class="col-12 col-md-8 col-lg-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <form action="/admin" method="GET">
                            <div class="mb-3">
                                <label for="admin" class="form-label">Administrador</label>
                                <input type="text" class="form-control" id="admin" placeholder="Esribí tu nombre" name="admin">
                              </div>
                              <button class="btn btn-primary btn-block">
                                    Ingresar
                              </button>
                        </form>

                    </div>
                    
                </div>
            </article>
        </section>
        
    </main>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>
</html>